<button mat-raised-button (click)="openAddDialog()">Add</button>

<mat-form-field class="filter-spacing">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="content-width">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let npc of activeNpcList; index as i;">
    <mat-card class="card-size">
      <img *ngIf="activeNpcList[i].imgLink === null" class="img-size" src="../../../assets/Generic-Person.png">
      <img *ngIf="activeNpcList[i].imgLink != null" class="img-size" src={{activeNpcList[i].imgLink}}>
      <br>
      <mat-card-title>{{activeNpcList[i].name}}</mat-card-title>
      <mat-card-subtitle>
        {{activeNpcList[i].race}},&nbsp;{{activeNpcList[i].occupation}}
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>