/* .table-width {
    width: 100%;
} */
.filter-spacing {
    margin-left: 10px;
}

.card-size {
    background-color: rgba(128, 128, 128, 0.315);
    /* height: 150px; */
    width: 150px;
}

.content-width {
    padding-left: 10%;
    width: 90%;
}

.img-size {
    height: 100px;
    width: 100px;
}