<button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>

<mat-form-field class="filter-spacing">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="content-width">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let npc of activeNpcList; index as i;">
    <mat-card class="card-size">
      <img mat-card-image *ngIf="activeNpcList[i].imgLink === null" class="img-size"
        src="../../../assets/Generic-Person.png">
      <img mat-card-image *ngIf="activeNpcList[i].imgLink != null" class="img-size" src={{activeNpcList[i].imgLink}}>
      <button mat-icon-button class="menu-button" color="primary" [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="delete-button" color="warn" (click)="deleteNpc(i)">Delete</button>
      </mat-menu>
      <br>
      <div (click)="detailsRouter('/npc-details', activeNpcList[i].npcId)">
        <mat-card-title>{{activeNpcList[i].name}}</mat-card-title>
        <mat-card-subtitle>
          {{activeNpcList[i].race}},&nbsp;{{activeNpcList[i].occupation}}
        </mat-card-subtitle>
      </div>
    </mat-card>
  </div>
</div>