<button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>

<mat-form-field class="filter-spacing">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="content-width">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of activeItemList; index as i;">
    <mat-card class="card-size" (click)="detailsRouter('/item-details', activeItemList[i].itemId)">
      <br>
      <mat-card-title>{{activeItemList[i].name}}</mat-card-title>
      <mat-card-subtitle>
        {{activeItemList[i].type}},&nbsp;{{activeItemList[i].attunement}}
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>