<button mat-raised-button>Add</button>

<mat-form-field class="filter-spacing">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Filter">
  </mat-form-field>

  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="content-width">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of itemList; index as i;">
      <mat-card class="card-size" (click)="detailsRouter('/npc-details', itemList[i].npcId)">
        <br>
        <mat-card-title>{{itemList[i].name}}</mat-card-title>
        <mat-card-subtitle>
          {{itemList[i].race}},&nbsp;{{itemList[i].occupation}}
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>