<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table-general">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
            <td mat-cell *matCellDef="let element"> {{element.race}} </td>
        </ng-container>

        <ng-container matColumnDef="occupation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </th>
            <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="town">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Town </th>
            <td mat-cell *matCellDef="let element"> {{element.town}} </td>
        </ng-container>

        <ng-container matColumnDef="physicalDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PhysicalDesc </th>
            <td mat-cell *matCellDef="let element"> {{element.physicalDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="voiceDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VoiceDesc </th>
            <td mat-cell *matCellDef="let element"> {{element.voiceDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="personalityDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Personality </th>
            <td mat-cell *matCellDef="let element"> {{element.personalityDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>

        <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="selectRow(dataSource.filteredData.indexOf(element))">play_circle_outline</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="returnNpc">OK</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>