<h1 mat-dialog-title>Add a new Player Character</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Character Name</mat-label>
    <input matInput cdkFocusInitial required [(ngModel)]="newPC.charName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Player Name</mat-label>
    <input matInput cdkFocusInitial required [(ngModel)]="newPC.playerName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Race</mat-label>
    <input matInput cdkFocusInitial required [(ngModel)]="newPC.charRace">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Class</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.charClass">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>PHB Background</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.phbBackground">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Physical Description</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.physicalDesc">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Personality Description</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.personalityDesc">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Player Background</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.charBackground">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>DM Notes</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.dmNotes">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Level</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.charLevel">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Health</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.charHealth">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Armor Class</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newPC.charArmorClass">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="newPC">OK</button>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>