<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table-width">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
            <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="selectRow(dataSource.filteredData.indexOf(element))">play_circle_outline</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="returnLoc">OK</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>