<h1 mat-dialog-title>Add a new campaign</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput cdkFocusInitial required [(ngModel)]="newCampaign.name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker" cdkFocusInitial required [(ngModel)]="newCampaign.startDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Setting</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newCampaign.setting">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quests</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newCampaign.listQuest[0]">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Comments</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="newCampaign.comments">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="newCampaign">OK</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
</div>