<mat-toolbar color="npc-app2-ui-primary">
  <mat-toolbar-row class="toolbar-border">
    <a class="toolbar-icon">
      <mat-icon routerLink="/home">home</mat-icon>
    </a>
    <button mat-button routerLink="/campaign">Campaign</button>
    <button mat-button routerLink="/npc">NPC</button>
    <button mat-button routerLink="/location">Location</button>
    <button mat-button routerLink="/playerChar">Player Characters</button>
    <button mat-button routerLink="/item">Items</button>
    <button mat-button routerLink="/monster">Monsters</button>
    <button mat-button routerLink="/experimental">Experimental</button>
  </mat-toolbar-row>
</mat-toolbar>