<button *ngIf="editable === false" mat-raised-button (click)="toggleEditable()">Edit</button>
<button *ngIf="editable === true" mat-raised-button (click)="saveNpc()">Save</button>
<button mat-raised-button routerLink="/npc">Back</button>
<mat-card>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.race}} {{data.occupation}}</mat-card-subtitle>
    <img *ngIf="data.imgLink != null" src={{data.imgLink}} height="200" width="200">
    <mat-card-content *ngIf="editable === false">
        <mat-list>
            <mat-list-item>Npc ID: {{data.npcId}}</mat-list-item>
            <mat-list-item>Country: {{data.country}}</mat-list-item>
            <mat-list-item>Town: {{data.town}}</mat-list-item>
            <mat-list-item>Organization: {{data.organization}}</mat-list-item>
            <mat-list-item>Physical Description: {{data.physicalDesc}}</mat-list-item>
            <mat-list-item>Personality Description: {{data.personalityDesc}}</mat-list-item>
            <mat-list-item>Voice Description: {{data.voiceDesc}}</mat-list-item>
            <mat-list-item>Comments: {{data.comments}}</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-content *ngIf="editable === true">
        <mat-form-field appearance="standard">
            <mat-label>Name:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.name">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Race:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.race">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Occupation:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.occupation">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Image URL:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.imgLink">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Country:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.country">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Town:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.town">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Organization:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.organization">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Physical Description:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.physicalDesc">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Personality Description:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.personalityDesc">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Voice Description:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.voiceDesc">
        </mat-form-field><br>
        <mat-form-field appearance="standard">
            <mat-label>Comments:</mat-label>
            <input matInput cdkFocusInitial [(ngModel)]="data.comments">
        </mat-form-field><br>
    </mat-card-content>
</mat-card>